{
  "presets": [
    "next/babel"
  ],
  "plugins": [
    [
      "styled-components",
      {
        "ssr": true,
        "displayName": true,
        "preprocess": false
      }
    ],
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    ["inline-import-data-uri"]
  ],
  "rules": {
    "test": "png",
    "loader": "file-loader",
    "options": {
      "name": "assets/[name].[ext]"
    }
  }
}
